For the other assignment 

*Load the dataset and explore the variables.

We will try to predict variable Churn using a logistic regression on variables tenure, SeniorCitizen,MonthlyCharges.
Extract the target variable.

Extract the independent variables and scale them.

Build the logistic regression model.

Evaluate the model.

Even a simple model will give us more than 70% accuracy. Why?

Synthetic Minority Oversampling TEchnique (SMOTE) is an over sampling technique based on nearest neighbors that adds new points between existing points. 

Apply imblearn.over_sampling.SMOTE to the dataset. 

Build and evaluate the logistic regression model. 

Is it there any improvement?*

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from imblearn.over_sampling import SMOTE

In [2]:
# Loading data
df = pd.read_csv('customer_churn.csv')
df

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,No
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

In [3]:
# Obtaining independent variables and the target variable
X = df[['tenure', 'SeniorCitizen','MonthlyCharges']]
y = df['Churn']

In [4]:
# Scalling independent variables
# Create the MinMaxScaler object
scaler = MinMaxScaler()

# Fit and transform the values
X_scaled = scaler.fit_transform(X)

X_scaled_df = pd.DataFrame(X_scaled)
X_scaled_df.columns = X.columns
X_scaled_df

        tenure  SeniorCitizen  MonthlyCharges
0     0.013889            0.0        0.115423
1     0.472222            0.0        0.385075
2     0.027778            0.0        0.354229
3     0.625000            0.0        0.239303
4     0.027778            0.0        0.521891
...        ...            ...             ...
7038  0.333333            0.0        0.662189
7039  1.000000            0.0        0.845274
7040  0.152778            0.0        0.112935
7041  0.055556            1.0        0.558706
7042  0.916667            0.0        0.869652

[7043 rows x 3 columns]

In [5]:
# building logistic regression

# Split the data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X_scaled_df, y, test_size=0.2)

# Create the logistic regression model
model = LogisticRegression()

# Fit the model to the training data
model.fit(X_train, y_train)

# Predict the labels for the test data
y_pred = model.predict(X_test)

# Evaluating the model, Calculate the accuracy of the model
score = model.score(X_test, y_test)
print("Accuracy:", score)

Accuracy: 0.8055358410220014

In [6]:
sm = SMOTE(sampling_strategy='minority')

# Fit the oversampling method on the data
X_res, y_res = sm.fit_resample(X_scaled_df, y)

In [7]:
X_res

         tenure  SeniorCitizen  MonthlyCharges
0      0.013889            0.0        0.115423
1      0.472222            0.0        0.385075
2      0.027778            0.0        0.354229
3      0.625000            0.0        0.239303
4      0.027778            0.0        0.521891
...         ...            ...             ...
10343  0.071096            0.0        0.364273
10344  0.314724            0.0        0.319287
10345  0.249737            1.0        0.712550
10346  0.027778            0.0        0.676245
10347  0.013889            0.0        0.322684

[10348 rows x 3 columns]

In [8]:
# building logistic regression

# Split the data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X_res, y_res, test_size=0.2)

# Create the logistic regression model
model = LogisticRegression()

# Fit the model to the training data
model.fit(X_train, y_train)

# Predict the labels for the test data
y_pred = model.predict(X_test)

# Evaluating the model, Calculate the accuracy of the model
score = model.score(X_test, y_test)
print("Accuracy:", score)

Accuracy: 0.72512077294686